<div>
    <div>
        <h2>
            <a href=" /post/{{id}}">
                <div class>{{postTitle}} </div>
            </a>
        </h2>
        <div class = post by{{user.username}} on {{format_date dateCreated}}> </div>
    </div>
    <p class = "card-body"> {{postContent}}</p>
</div>